@charset "utf-8";

/*
Author: Bryan Flores
Date: 11/30/2021
*/

html {
    background-color: rgb(249, 246, 238)
}

body {
    margin: 10em auto;
    width: 100%;
    max-width: 75%;
    max-height: 50%;
}

#header-wrapper {
    width: 100%;
}


div h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    font-family: 'Arvo', serif;
}


#portfolio-photos-wrapper {
    background-color: rgb(238, 238, 229);
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

p {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 1.7em;
    padding-top: 2em;
    text-decoration: underline;
}

.portfolio-lb-sample1 {
    display: inline-flex;
    flex-wrap: wrap;
    float: inline-start;
    height: 30%;
    width: 30%;
    object-fit: cover;
    margin: 2em;
}

div#nav-wrapper {
    display: block;
    background-color: rgb(151, 152, 153);
    text-align: center;
    width: 100%;
    padding-top: 0.15em;
    padding-bottom: 0.15em;    
}
nav.horizontal ul {
    list-style-type: none;
    font-size: 1.5em;
}
nav.horizontal li {
    display: inline;}

nav.horizontal li a {
    text-decoration: none;
    font-weight: bold;
    margin: 2.5em;
    color: rgb(87, 52, 36);
}

#ig-footer {
    margin-top: 5%;
    margin-left: 50%;
    height: 3em;
    width: 4em;
}

#ig-caption {
    font-family: 'Arvo', 'serif';
    text-align: center;
    margin-left: 3%;
}