@charset "utf-8";

/*
Author: Bryan Flores
Date: 11/19/2021
*/

html {
    background-color: rgb(249, 246, 238)
}

body {
    margin: 10em auto;
    width: 100%;
    max-width: 75%;
    max-height: 50%;
}

#header-wrapper {
    width: 100%;
}

div h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    font-family: 'Arvo', serif;
}

p {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 1.7em;
    padding-top: 2em;
    text-decoration: underline;
}

h3 {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 1.3em;
}

h4 {
    font-family: 'Arvo', serif;
    text-align: center;
    font-size: 1em;
}

div#nav-wrapper {
    display: block;
    background-color: rgb(151, 152, 153);
    text-align: center;
    width: 100%;
    padding-top: 0.15em;
    padding-bottom: 0.15em;    
}
nav.horizontal ul {
    list-style-type: none;
    font-size: 1.5em;
}
nav.horizontal li {
    display: inline;}

nav.horizontal li a {
    text-decoration: none;
    font-weight: bold;
    margin: 2.5em;
    color: rgb(87, 52, 36);
}

#services-wrapper {
    text-align: center;
    margin: 3.2em auto;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    background-color: rgb(238, 238, 229);
    justify-content: center;
}    

#services-wrapper a {
    margin:0px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
}

.print-sale {
    margin-top: 1.3em;
    height: 40em;
    width: 30em;    
    object-fit: cover;
}

.photoshoot-example {
    margin-top: 1.3em;
    height: 40%;
    width: 40%;    
    object-fit: cover;
}

.captions {
    font-size: 1.2em;
    font-family: 'Arvo', serif;
    color: rgb(7, 32, 49);
}

#ig-caption {
    font-family: 'Arvo', 'serif';
    text-align: center;
    margin-left: 18%;
}

#ig-footer {
    margin-top: 2.5%;
    margin-left: 45%;
    height: 3em;
    width: 4em;
}